# SPDX-License-Identifier: PMPL-1.0-or-later
# RSR-compliant .gitattributes

* text=auto eol=lf

# Source
*.rs    text eol=lf diff=rust
*.ex    text eol=lf diff=elixir
*.exs   text eol=lf diff=elixir
*.jl    text eol=lf
*.res   text eol=lf
*.resi  text eol=lf
*.ada   text eol=lf diff=ada
*.adb   text eol=lf diff=ada
*.ads   text eol=lf diff=ada
*.hs    text eol=lf
*.chpl  text eol=lf
*.scm   text eol=lf
*.a2ml  text eol=lf linguist-language=TOML
*.ncl   text eol=lf
*.nix   text eol=lf

# Docs
*.md    text eol=lf diff=markdown
*.adoc  text eol=lf
*.txt   text eol=lf

# Data
*.json  text eol=lf
*.yaml  text eol=lf
*.yml   text eol=lf
*.toml  text eol=lf

# Config
.gitignore     text eol=lf
.gitattributes text eol=lf
justfile       text eol=lf
Makefile       text eol=lf
Containerfile  text eol=lf

# Scripts
*.sh   text eol=lf

# Binary
*.png   binary
*.jpg   binary
*.gif   binary
*.pdf   binary
*.woff2 binary
*.zip   binary
*.gz    binary

# Lock files
Cargo.lock  text eol=lf -diff
flake.lock  text eol=lf -diff
